.login-btn {
  background-color: #bed8fd;
  color: black;
  padding: 8px 8px;
  border-radius: 5px;

  font-weight: 600;
}

.login-btn-container {
  padding: 20px;
  border: 2px solid #bed8fd;
  border-radius: 5px;
  box-shadow: 0 0 2px #cac9e6;
}

.login-content {
  flex-direction: column;
}
